body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;    
}

#calculator {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 12px 12px rgba(0,0,0,0.1);
  min-height: 20vh;
  min-width: 20vw;
}

#inputOne, #inputTwo {
  margin: 0px 20px 30px 20px;
  padding: 20px;
}

#calculateButton{
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
}

#result{
    display: none;
    font-size: 30px;
    margin-top: 12px;
}
/* need to style the result */
/* add brand colors */


